---
import Layout from "../layouts/Layout.astro";
import Movie from "/Movie.mp4";
import Gallery from "/thisisbanger.png";
import Team from "/JAVIERBANG.jpeg";
import About from "/Bangers.jpg";
---

<Layout title="This Is Banger">
  <main>
    <section class="w-screen h-full">
      <video class="p-0 m-0" loop autoplay muted>
        <source src={Movie} type="video/mp4" />
      </video>
      <div class="flex -translate-y-full flex-col">
        <span
          class="material-symbols-outlined animate-bounce mx-auto lg:block hidden cursor-default justify-items-center"
        >
          arrow_downward
        </span>
      </div>
    </section>
    <section class="w-screen h-auto">
      <div class="grid lg:grid-cols-2 gap-4 m-6 place-items-center">
        <a href="/about" class="w-3/4">
          <div
            class="mb-6 backdrop-blur-lg grid-rows-2 rounded-2xl duration-500 ease-out delay-75 border-b-4 hover:border-b-2 hover:translate-y-1"
          >
            <div class="flex flex-col lg:flex-row">
              <div class="flex w-2/3 p-4 m-auto">
                <div class="h-1/2">
                  <img src={About} class="rounded-2xl" />
                </div>
              </div>
              <div class="m-auto lg:pr-5">
                <h5 class="text-lg text-center font-medium">About Banger</h5>
                <p class="text-sm text-center font-light">
                  Javier Bang por medio de This Is Banger le da vida a sus ideas
                  creativas que son verdaderamente espectacular.
                </p>
              </div>
            </div>
          </div>
        </a>
        <a href="/team" class="w-3/4">
          <div
            class="mb-6 backdrop-blur-lg grid-rows-2 rounded-2xl duration-500 ease-out delay-75 border-b-4 hover:border-b-2 hover:translate-y-1"
          >
            <div class="flex flex-col lg:flex-row">
              <div class="flex w-2/3 p-4 m-auto">
                <div class="h-1/2">
                  <img src={Team} class="rounded-2xl" />
                </div>
              </div>
              <div class="m-auto lg:pr-5">
                <h5 class="text-lg text-center font-medium">Team Banger</h5>
                <p class="text-sm text-center font-light">
                  Para funcionar de manera efectiva, el equipo banger posee
                  comunicación, coordinación y una división clara de roles.
                </p>
              </div>
            </div>
          </div>
        </a>
        <a href="/gallery" class="w-3/4">
          <div
            class="mb-6 backdrop-blur-lg grid-rows-2 rounded-2xl duration-500 ease-out delay-75 border-b-4 hover:border-b-2 hover:translate-y-1"
          >
            <div class="flex flex-col lg:flex-row">
              <div class="flex w-2/3 p-4 m-auto">
                <div class="h-1/2">
                  <img src={Gallery} class="rounded-2xl" />
                </div>
              </div>
              <div class="m-auto lg:pr-5">
                <h5 class="text-lg text-center font-medium">Gallery Banger</h5>
                <p class="text-sm text-center font-light">
                  Capturar una foto es atrapar la esencia del momento, capturar
                  la vibra del entorno, inmortalizar un sentimiento.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </section>
  </main>
</Layout>

<style>
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }
</style>
