---
import icon from "/icon.png";
---

<header>
  <nav class="flex py-2 relative items-center w-full">
    <div
      class="px-6 w-full flex flex-wrap items-center justify-center lg:justify-between"
    >
      <div class="flex items-center w-16">
        <a href="/" class="flex items-center">
          <img src={icon} alt="Loog This is banger" />
          <span class="material-symbols-outlined ml-1">
            undo
          </span>
        </a>
      </div>
    </div>
  </nav>
</header>
